 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h4 style="text-align: center">自己紹介</h4>
                    <p>大学卒業後、自治体職員として約2年間勤めたのち、プログラミングを勉強中の鈴木景介と申します。現在は<a href="https://camp.potepan.com" target="_blank" style="color: #2c3e50;">都内のスクール</a>にてRuby on Railsを用いたWebアプリ開発の手法を学んでいます。</p>
                </div>
                <div class="col-lg-4">
                    <h4 style="text-align: center">使用言語，開発環境，ツール</h4>
                    <ul>
                      <li>Ruby/Ruby on Rails, PHP, Python</li>
                      <li>HTML/CSS, Javascript</li>
                      <li>Git</li>
                      <li>Vim</li>
                      <li>Mysql, Postgresql</li>
                      <li>Rspec</li>
                      <li>heroku</li>
                      <li>Docker</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4 style="text-align: center">やってみたいこと</h4>
                    <p>サーバーサイドエンジニアとして、保守性や拡張性の高いアプリ設計や、パフォーマンスを意識したDB設計ができるようになりたいと考えています。また、仮想環境の構築や、クラウド技術にも関心があります。ゆくゆくはフロントサイドのスキルも身に付け、フルスタックエンジニアを目指したいと思っています。</p>
                </div>
            </div>
        </div>
    </section>
